# Editors
Session.vim  # Vim sessions
warnings.log # Flycheck, Emacs syntax and code checking minor mode.
*#*          # Emacs temporary save files.

# Generated
docs/*
bin/*
lib/*
doxygen.tag
warnings.log

# Whitelist
!docs/org/* # My own notes, org files.
